@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "나눔스퀘어-extrabold";
  color: #423e49;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
img {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

#wrap > div > header,
#wrap > div > footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header {
  height: 70px;
  width: 100vw;
  position: fixed;
  z-index: 99;
}

#banner {
  background: url(../img/banner.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: local;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contents {
  height: 4320px;
  background-position: center center;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
}

footer {
  height: 500px;
  background: #423e49;
}

.container {
  max-width: 1280px;
  width: 100vw;
  height: 90%;
  margin: 0 auto;
  padding: 0;
}

/*********** HEADER ***********/
header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header {
  width: inherit;
  max-width: 1280px;
}

header .header ul {
  width: inherit;
  max-width: 1280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  opacity: 0.2;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

header .header ul li,
header .header ul li a {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  cursor: pointer;
}

header .header ul:hover {
  opacity: 1;
}

header .header ul:hover li a {
  text-shadow: -1px -1px 3px rgba(0, 0, 0, 0.5);
}
