@charset "UTF-8";
/*********** 나눔 폰트 적용 ***********/
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
html,
body {
  width: 100%;
  height: 100%;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "나눔스퀘어-extrabold";
  color: #423e49;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
img {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.iconRight {
  display: inline-block;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: none;
  border-left: 0;
  border-bottom: 0;
  cursor: pointer;
}

.iconRight.mainC {
  border-right: 5px solid #ebb4ad;
  border-top: 5px solid #ebb4ad;
}

.iconRight.subC {
  border-right: 5px solid #423e49;
  border-top: 5px solid #423e49;
}

#wrap > div > header,
#wrap > div > footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header {
  height: 70px;
  width: 100vw;
  position: fixed;
  z-index: 99;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 70px;
  margin: 0 auto;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .container .header {
  width: inherit;
  max-width: 1280px;
}

header .container .header ul {
  width: inherit;
  max-width: 1280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  opacity: 0.2;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

header .container .header ul:hover {
  opacity: 1;
}

header .container .header ul li,
header .container .header ul li a {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  cursor: pointer;
}

header .container .header ul:hover li,
header .container .header ul:hover li a {
  text-shadow: -1px -1px 3px rgba(0, 0, 0, 0.5);
}

#layer {
  z-index: 100;
  position: fixed;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

/********** LINK 1 LAYER **********/
.link1_layer {
  width: 500px;
  height: 400px;
  background-color: white;
  display: none;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 130px;
  border: 5px solid #ebb4ad;
  background: #423e49;
}

.link1_layer h4 {
  font-size: 20px;
  position: absolute;
  color: #ebb4ad;
  top: 14px;
}

.link1_layer .textArea {
  width: 400px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 100px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link1_layer .textArea div form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link1_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 250px;
  margin-bottom: 10px;
}

.link1_form label {
  color: white;
}

.link1_layer form > input,
.link1_form_exit > input {
  background: #ebb4ad;
  border: 0;
  border-radius: 5px;
  padding: 3px 10px;
  color: white;
  font-weight: bold;
}

.textArea form > input {
  margin-bottom: 5px;
}

.textArea form > .link1_form_exit {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 14px;
}

/*********** lINK2_LAYER ***********/
.link2_layer {
  width: 80vw;
  height: 80vh;
  position: relative;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px;
}

#map {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 20px solid rgba(0, 0, 0, 0.3);
  border-radius: 30px;
}

.link2_layer .layer_exit {
  width: 90px;
  height: 30px;
  position: absolute;
  bottom: 10px;
  border-radius: 10px;
  border: 0;
  background-color: #ebb4ad;
  color: white;
  font-weight: bold;
}

.link3_layer {
  width: 700px;
  height: 540px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.3);
}

.link3_layer h4 {
  font-size: 28px;
  color: #ebb4ad;
  position: absolute;
  top: 20px;
}

.link3_layer .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 70px;
}

.link3_layer .list h5 {
  color: white;
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  background-color: #423e49;
  cursor: pointer;
}

.link3_layer .list h5.active {
  background: #ebb4ad;
}

.link3_layer > ul {
  margin-top: 45px;
  width: 600px;
  padding: 20px;
  border-radius: 10px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.link3_layer > ul > li {
  font-size: 14px;
}

.link3_layer > ul > li.active > ul {
  display: block;
}

.link3_layer > ul > li > ul {
  width: 600px;
  display: none;
}

.link3_layer > ul > li > ul > li {
  margin-bottom: 14px;
  margin-left: 6px;
}

.link3_layer > ul > li > ul > li > a {
  overflow: hidden;
  line-height: 26px;
  font-size: 14px;
  text-align: right;
  width: 100%;
}

.link3_layer > ul > li > ul > li > a > strong {
  text-align: center;
  margin-right: 100px;
  font-size: 18px;
}

.link3_layer > ul > li > ul > li > a > span {
  float: right;
  font-size: 18px;
  font-weight: bold;
  color: #ebb4ad;
}

.link3_layer > ul > li > ul > li > a:hover strong,
.link3_layer > ul > li > ul > li > a:hover span {
  color: #ebb4ad;
}

.link3_layer > ul > li > ul > li:last-of-type li {
  margin-bottom: none;
}

.link3_layer .layer_exit {
  z-index: 100;
  width: 136px;
  height: 30px;
  position: absolute;
  bottom: 10px;
  border-radius: 10px;
  border: 0;
  background-color: #ebb4ad;
  color: white;
  font-weight: bold;
}

#banner {
  background: url(../img/banner.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: local;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contents {
  height: 4320px;
  position: relative;
  background-position: center center;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
}

footer {
  height: 500px;
  background: #423e49;
}

.container {
  max-width: 1280px;
  width: 100vw;
  height: 90%;
  margin: 0 auto;
  padding: 0;
}

/*********** !!BANNER!! ***********/
#banner .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#banner .container p {
  display: block;
  color: #fff;
  font-size: 70px;
  font-weight: bold;
}

/*********** !!CONTENTS!! ***********/
#contents > article {
  height: 1080px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contents .cont1 .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#contents .cont1 .container h3 {
  margin-top: 100px;
  font-size: 50px;
}

#contents .cont1 .container .like {
  top: 150px;
  width: 100%;
  height: 80%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contents .cont1 .container > div > div {
  height: 377px;
  width: 377px;
  border-radius: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  overflow: hidden;
  cursor: pointer;
}

#contents .cont1 .container > div > div:nth-of-type(1) {
  margin-right: auto;
  margin-top: auto;
  background-image: url(../img/contents/like1.png);
}

#contents .cont1 .container > div > div:nth-of-type(2) {
  background-image: url(../img/contents/like2.png);
}

#contents .cont1 .container > div > div:nth-of-type(3) {
  margin-left: auto;
  margin-bottom: auto;
  background-image: url(../img/contents/like3.png);
}

#contents .cont1 .container > div > div:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#contents .cont1 .container > div > div > p {
  margin-top: 250px;
  padding: 10px 30px 100px 30px;
  display: block;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#contents .cont1 .container > div > div:hover > p {
  opacity: 1;
}

#contents .cont1 .container a {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 28px;
  font-weight: bold;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#contents .cont1 .container a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/*********** CONT2 ***********/
#contents .cont2 .container {
  position: relative;
}

#contents .cont2 .container h3 {
  margin-top: 130px;
  font-size: 50px;
  margin-bottom: auto;
  text-align: center;
}

#contents .cont2 .container div {
  overflow: hidden;
  border-radius: 20px;
  border: 15px solid #423e49;
  margin: 0 auto;
  margin-top: 50px;
  max-width: 978px;
  width: 100vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-height: 550px;
  height: 55vw;
}

#contents .cont2 .container div iframe {
  max-width: 100%;
  width: 100vw;
  max-height: 100%;
  height: 55vw;
}

#contents .cont2 .container a {
  margin-top: 50px;
  right: 0;
  bottom: 10px;
  position: absolute;
  font-size: 28px;
  font-weight: bold;
  color: #ebb4ad;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#contents .cont2 .container a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/*********** CONT3 ***********/
#contents .cont3 .container {
  position: relative;
}

#contents .cont3 .container h3 {
  margin-top: 100px;
  display: block;
  text-align: center;
  font-size: 50px;
  color: #ebb4ad;
}

#contents .cont3 .container .shop_box {
  position: absolute;
  top: 130px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100vw;
  max-width: 1280px;
  height: inherit;
  max-height: 1280px;
}

#contents .cont3 .container > div > div {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: relative;
  cursor: url(../img/cursor/cursor.cur), auto;
}

#contents .cont3 .container > div > div > p {
  position: absolute;
  display: block;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: inherit;
  margin: auto;
  font-family: "나눔스퀘어-extrabold";
  font-size: 24px;
  font-weight: bold;
  color: #423e49;
}

#contents .cont3 .container .shop1 p {
  color: white;
}

#contents .cont3 .container .shop1 {
  width: 10vw;
  height: 10vw;
  line-height: 10vw;
  border-radius: 100%;
  background: #423e49;
  color: white;
}

#contents .cont3 .container .shop2 {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 8vw;
  min-width: 8vh;
  height: 8vw;
  min-height: 8vh;
  border-radius: 100%;
  background: white;
}

#contents .cont3 .container .shop3 {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: 100px;
  margin-right: 200px;
  width: 10vw;
  min-width: 14vh;
  height: 10vw;
  min-height: 14vh;
  border-radius: 100%;
  background: white;
}

#contents .cont3 .container > div > div:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#contents .cont3 .container #cont3_img {
  position: absolute;
  bottom: 100px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 50vw;
  height: 50vw;
  max-width: 560px;
  max-height: 560px;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 150px;
  border-radius: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1vw solid #ebb4ad;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#contents .cont3 .container .cont3_img1 {
  background: url(../img/contents/catsnack.jpg);
}

#contents .cont3 .container .cont3_img2 {
  background: url(../img/contents/cat-tower.jpg);
}

#contents .cont3 .container .cont3_img3 {
  background: url(../img/contents/cat-bag.jpg);
}

#contents .cont3 .container .cont3_text > p {
  max-width: 1280px;
  width: 100vw;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  bottom: 0;
  color: white;
  text-align: center;
  font-size: 18px;
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: absolute;
}

/*********** CONT4 ***********/
#contents .cont4 .container h3 {
  margin: 0 auto;
  margin-top: 150px;
  display: block;
  width: 650px;
  position: relative;
  text-align: center;
  font-size: 100px;
  color: #ebb4ad;
}

#contents .cont4 .container h3 img {
  position: absolute;
  top: 25px;
  left: 0;
}

#contents .cont4 .container > div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#contents .cont4 .container div > div:nth-child(2) {
  margin: 10%;
}

#contents .cont4 .container div > div > img {
  width: 20vw;
  max-width: 300px;
  margin: 0 auto;
  border-radius: 100%;
  display: block;
  cursor: pointer;
}

#contents .cont4 .container div > div > h5 {
  display: block;
  text-align: center;
  font-size: 28px;
  cursor: pointer;
}

#contents .cont4 .container div > div {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#contents .cont4 .container div > div:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/*********** footer ***********/
footer .container {
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .container .f_logo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

footer .container .sns {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

footer .container .sns button {
  margin: 0 10px;
  border: none;
  background: none;
  height: 40px;
  width: 40px;
}

footer .container p {
  display: block;
  width: 100%;
  color: white;
  text-align: center;
}

@media (min-width: 1300px) and (min-height: 900px) {
  #wrap {
    height: 100vh;
    overflow: hidden;
  }
  #wrap #slider {
    -webkit-transition: 2s;
    transition: 2s;
  }
  #wrap .slider1 {
    margin-top: -1080px;
  }
  #wrap .slider2 {
    margin-top: -2160px;
  }
  #wrap .slider3 {
    margin-top: -3240px;
  }
  #wrap .slider4 {
    margin-top: -4270px;
  }
  #wrap .slider5 {
    margin-top: -4820px;
  }
}

@media (max-width: 1300px) {
  ::-webkit-scrollbar {
    display: none;
  }
  html, body {
    overflow-x: hidden;
  }
  .container {
    width: 100vw;
    padding: 40px;
    height: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #contents .cont1 .container .like {
    width: 92vw;
  }
  #contents .cont1 .container .like > div {
    width: 23vh;
    height: 23vh;
  }
  #contents .cont1 .container > .like > div > p {
    margin-top: 0;
    padding: 12vh 1vh;
    width: 28vh;
    height: 6vh;
    font-size: 24px;
  }
}

@media (max-width: 1000px) {
  .container {
    width: 100vw;
    padding: 10px;
    height: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0);
  }
  #contents .cont1 .container .like {
    width: 98vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #contents .cont1 .container .like > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #contents .cont1 .container > div > div:nth-of-type(1) {
    margin-right: 0;
    margin-left: auto;
    background-size: contain;
  }
  #contents .cont1 .container > div > div:nth-of-type(2) {
    background-size: contain;
  }
  #contents .cont1 .container > div > div:nth-of-type(3) {
    background-size: contain;
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 700px) {
  header,
  header .container {
    height: 70px;
  }
  .header {
    width: 100vw;
  }
  .header li,
  .header li a {
    font-size: 5vw !important;
  }
  .header li img {
    width: 60px;
  }
  footer .container {
    height: 450px;
  }
  #banner .container p {
    font-size: 10vw;
    text-align: center;
    line-height: 60px;
  }
  #contents .cont1 .container h3 {
    font-size: 9vw;
  }
  #contents .cont1 .container .like {
    width: 98vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #contents .cont1 .container .like > div {
    width: 30vh;
    height: 30vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #contents .cont1 .container a {
    font-size: 7vw;
    margin-right: 20px;
  }
  #contents .cont2 .container h3 {
    font-size: 9vw;
  }
  #contents .cont2 .container div {
    margin-top: 24vh;
    width: 90vw;
    height: 50.5vw;
  }
  #contents .cont2 .container div iframe {
    width: 100%;
  }
  #contents .cont2 .container a {
    font-size: 7vw;
    margin-right: 20px;
  }
  #contents .cont3 .container h3 {
    font-size: 9vw;
  }
  #contents .cont3 .container .shop_box {
    width: 90vw;
    padding: 150px 10px;
  }
  #contents .cont3 .container .shop_box > div {
    margin: 0;
  }
  #contents .cont3 .container .shop_box .shop1 {
    width: 27vw;
    height: 27vw;
  }
  #contents .cont3 .container .shop_box .shop2 {
    width: 22vw;
    height: 22vw;
  }
  #contents .cont3 > .container > .shop_box > .shop3 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 30vw;
    height: 30vw;
  }
  #contents .cont3 .container > div > div > p {
    width: 100%;
    font-size: 5vw;
  }
  #contents .cont3 .container .cont3_text > p {
    font-size: 4vw;
    bottom: 0;
  }
  #contents .cont3 .container #cont3_img {
    background-size: 50vw 50vw;
    bottom: 35vh;
  }
  #contents .conn4 .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #contents .cont4 .container h3 {
    margin-top: 70px;
    width: 90vw;
    font-size: 14vw;
  }
  #contents .cont4 .container h3 img {
    display: none;
  }
  #contents .cont4 .container > div {
    margin-top: 100px;
    width: 100%;
    bottom: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  #contents .cont4 .container > div > div > img {
    height: 60vw;
    max-height: 25vh;
    width: 60vw;
    max-width: 25vh;
  }
  #contents .cont4 .container div > div > h5 {
    font-size: 7vw;
    line-height: 3.5vh;
  }
}
