@charset "UTF-8";
/*********** 나눔 폰트 적용 ***********/
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "나눔스퀘어-extrabold";
  color: #423e49;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
img {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.iconRight {
  display: inline-block;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: none;
  border-left: 0;
  border-bottom: 0;
  cursor: pointer;
}

.iconRight.mainC {
  border-right: 5px solid #ebb4ad;
  border-top: 5px solid #ebb4ad;
}

.iconRight.subC {
  border-right: 5px solid #423e49;
  border-top: 5px solid #423e49;
}

#wrap > div > header,
#wrap > div > footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header {
  height: 70px;
  width: 100vw;
  position: fixed;
  z-index: 99;
}

#banner {
  background: url(../img/banner.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: local;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contents {
  height: 4320px;
  background-position: center center;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
}

footer {
  height: 500px;
  background: #423e49;
}

.container {
  max-width: 1280px;
  width: 100vw;
  height: 90%;
  margin: 0 auto;
  padding: 0;
}

/*********** HEADER ***********/
header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header {
  width: inherit;
  max-width: 1280px;
}

header .header ul {
  width: inherit;
  max-width: 1280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  opacity: 0.2;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

header .header ul li,
header .header ul li a {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  cursor: pointer;
}

header .header ul:hover {
  opacity: 1;
}

header .header ul:hover li a {
  text-shadow: -1px -1px 3px rgba(0, 0, 0, 0.5);
}

/*********** !!BANNER!! ***********/
#banner .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#banner .container p {
  display: block;
  color: #fff;
  font-size: 70px;
  font-weight: bold;
}

/*********** !!CONTENTS!! ***********/
#contents > article {
  height: 1080px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contents .cont1 .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#contents .cont1 .container h3 {
  margin-top: 100px;
  font-size: 50px;
}

#contents .cont1 .container .like {
  top: 150px;
  width: 100%;
  height: 80%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contents .cont1 .container > div > div {
  height: 377px;
  width: 377px;
  border-radius: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  overflow: hidden;
  cursor: pointer;
}

#contents .cont1 .container > div > div:nth-of-type(1) {
  margin-right: auto;
  margin-top: auto;
  background-image: url(../img/contents/like1.png);
}

#contents .cont1 .container > div > div:nth-of-type(2) {
  background-image: url(../img/contents/like2.png);
}

#contents .cont1 .container > div > div:nth-of-type(3) {
  margin-left: auto;
  margin-bottom: auto;
  background-image: url(../img/contents/like3.png);
}

#contents .cont1 .container > div > div:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#contents .cont1 .container > div > div > p {
  margin-top: 250px;
  padding: 10px 30px 100px 30px;
  display: block;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#contents .cont1 .container > div > div:hover > p {
  opacity: 1;
}

#contents .cont1 .container a {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 28px;
  font-weight: bold;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#contents .cont1 .container a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/*********** CONT2 ***********/
#contents .cont2 .container {
  position: relative;
}

#contents .cont2 .container h3 {
  margin-top: 130px;
  font-size: 50px;
  margin-bottom: auto;
  text-align: center;
}

#contents .cont2 .container div {
  overflow: hidden;
  border-radius: 20px;
  border: 15px solid #423e49;
  margin: 0 auto;
  margin-top: 50px;
  width: 978px;
  height: 550px;
}

#contents .cont2 .container div iframe {
  max-width: 100%;
  width: 100vw;
  max-height: 100%;
  height: 55vw;
}

#contents .cont2 .container a {
  margin-top: 50px;
  right: 0;
  bottom: 10px;
  position: absolute;
  font-size: 28px;
  font-weight: bold;
  color: #ebb4ad;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#contents .cont2 .container a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/*********** CONT3 ***********/
#contents .cont3 .container {
  position: relative;
}

#contents .cont3 .container h3 {
  margin-top: 100px;
  display: block;
  text-align: center;
  font-size: 50px;
  color: #ebb4ad;
}

#contents .cont3 .container .shop_box {
  position: absolute;
  top: 130px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100vw;
  max-width: 1280px;
  height: inherit;
  max-height: 1280px;
}

#contents .cont3 .container > div > div {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: relative;
  cursor: url(../img/cursor/cursor.cur), auto;
}

#contents .cont3 .container > div > div > p {
  position: absolute;
  display: block;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: inherit;
  margin: auto;
  font-family: "나눔스퀘어-extrabold";
  font-size: 24px;
  font-weight: bold;
  color: #423e49;
}

#contents .cont3 .container .shop1 p {
  color: white;
}

#contents .cont3 .container .shop1 {
  margin-top: 170px;
  width: 10vw;
  height: 10vw;
  line-height: 10vw;
  border-radius: 100%;
  background: #423e49;
  color: white;
}

#contents .cont3 .container .shop2 {
  margin-left: 0;
  margin-top: 50px;
  width: 8vw;
  min-width: 8vh;
  height: 8vw;
  min-height: 8vh;
  border-radius: 100%;
  background: white;
}

#contents .cont3 .container .shop3 {
  margin-left: 1vw;
  width: 10vw;
  min-width: 14vh;
  height: 10vw;
  min-height: 14vh;
  margin-top: 200px;
  border-radius: 100%;
  background: white;
}

#contents .cont3 .container > div > div:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#contents .cont3 .container #cont3_img {
  position: absolute;
  bottom: 100px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 50vw;
  height: 50vw;
  max-width: 560px;
  max-height: 560px;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 150px;
  border-radius: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1vw solid #ebb4ad;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#contents .cont3 .container .cont3_img1 {
  background: url(../img/contents/catsnack.jpg);
}

#contents .cont3 .container .cont3_img2 {
  background: url(../img/contents/cat-tower.jpg);
}

#contents .cont3 .container .cont3_img3 {
  background: url(../img/contents/cat-bag.jpg);
}

#contents .cont3 .container .cont3_text > p {
  max-width: 1280px;
  width: 100vw;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  bottom: 0;
  color: white;
  text-align: center;
  font-size: 18px;
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: absolute;
}

/*********** CONT4 ***********/
#contents .cont4 .container h3 {
  margin: 0 auto;
  margin-top: 150px;
  display: block;
  width: 650px;
  position: relative;
  text-align: center;
  font-size: 100px;
  color: #ebb4ad;
}

#contents .cont4 .container h3 img {
  position: absolute;
  top: 25px;
  left: 0;
}

#contents .cont4 .container > div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#contents .cont4 .container div > div:nth-child(2) {
  margin: 10%;
}

#contents .cont4 .container div > div > img {
  width: 20vw;
  max-width: 300px;
  margin: 0 auto;
  border-radius: 100%;
  display: block;
  cursor: pointer;
}

#contents .cont4 .container div > div > h5 {
  display: block;
  text-align: center;
  font-size: 28px;
  cursor: pointer;
}

#contents .cont4 .container div > div {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#contents .cont4 .container div > div:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/*********** footer ***********/
footer .container {
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .container .f_logo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

footer .container .sns {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

footer .container .sns button {
  margin: 0 10px;
  border: none;
  background: none;
  height: 40px;
  width: 40px;
}

footer .container p {
  display: block;
  width: 100%;
  color: white;
  text-align: center;
}
