@charset "UTF-8";

/*********** 나눔 폰트 적용 ***********/
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

@import "../option/_color.scss";
@import "../option/_font.scss";
@import "../RESET/_RESET.scss";
@import "../contents/_icon.scss";
@import "../layout/_layout.scss";
@import "../contents/_header.scss";
@import "../contents/layerPopUp";

#banner {
  background: url(../img/banner.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: local;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contents {
  height: 4320px;
  position: relative;
  background-position: center center;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
}

footer {
  height: 500px;
  background: $subColor;
}

.container {
  max-width: 1280px;
  width: 100vw;
  height: 90%;
  margin: 0 auto;
  padding: 0;
}

/*********** !!BANNER!! ***********/
#banner .container {
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    display: block;
    color: #fff;
    font-size: $fsizeBanner;  
    font-weight: bold;
  }
}
/*********** !!CONTENTS!! ***********/
#contents > article {
  height: 1080px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contents .cont1 .container {
  position: relative;
  display: flex;
}

#contents .cont1 .container h3 {
  margin-top: 100px;
  font-size: $fsizeSubT;
}

#contents .cont1 .container .like {
  top: 150px;
  width: 100%;
  height: 80%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contents .cont1 .container > div > div {
  height: 377px;
  width: 377px;
  border-radius: 100%;
  transition: 0.4s;
  overflow: hidden;
  cursor: pointer;
}

#contents .cont1 .container > div > div:nth-of-type(1) {
  margin-right: auto;
  margin-top: auto;
  background-image: url(../img/contents/like1.png);
}

#contents .cont1 .container > div > div:nth-of-type(2) {
  background-image: url(../img/contents/like2.png);
}
#contents .cont1 .container > div > div:nth-of-type(3) {
  margin-left: auto;
  margin-bottom: auto;
  background-image: url(../img/contents/like3.png);
}

#contents .cont1 .container > div > div:hover {
  transform: scale(1.1);
}

#contents .cont1 .container > div > div > p {
  margin-top: 250px;
  padding: 10px 30px 100px 30px;
  display: block;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  text-align: center;
  font-size: $fsizeContLike;
  font-weight: bold;
  opacity: 0;
  transition: 0.4s;
}
#contents .cont1 .container > div > div:hover > p {
  opacity: 1;
}

#contents .cont1 .container a {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: $fsizeLink;
  font-weight: bold;
  transition: 0.4s;
}

#contents .cont1 .container a:hover {
  transform: scale(1.1);
}

/*********** CONT2 ***********/
#contents .cont2 .container {
  position: relative;
}
#contents .cont2 .container h3 {
  margin-top: 130px;
  font-size: $fsizeSubT;
  margin-bottom: auto;
  text-align: center;
}

#contents .cont2 .container div {
  overflow: hidden;
  border-radius: 20px;
  border: 15px solid $subColor;
  margin: 0 auto;
  margin-top: 50px;
  max-width: 978px;
  width: 100vw;
  box-sizing: border-box;
  max-height: 550px;
  height: 55vw;
}

#contents .cont2 .container div iframe {
  max-width: 100%;
  width: 100vw;
  max-height: 100%;
  height: 55vw;
}

#contents .cont2 .container a {
  margin-top: 50px;
  right: 0;
  bottom: 10px;
  position: absolute;
  font-size: $fsizeLink;
  font-weight: bold;
  color: $mainColor;
  transition: 0.4s;
}

#contents .cont2 .container a:hover {
  transform: scale(1.1);
}

/*********** CONT3 ***********/
#contents .cont3 .container {
  position: relative;
}

#contents .cont3 .container h3 {
  margin-top: 100px;
  display: block;
  text-align: center;
  font-size: $fsizeSubT;
  color: $mainColor;
}

#contents .cont3 .container .shop_box {
  position: absolute;
  top: 130px;
  left: 0;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  width: 100vw;
  max-width: 1280px;
  height: inherit;
  max-height: 1280px;
}

#contents .cont3 .container > div > div {
  transition: 0.4s;
  position: relative;
  cursor: url(../img/cursor/cursor.cur), auto;
}

#contents .cont3 .container > div > div > p {
  position: absolute;
  display: block;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: inherit;
  margin: auto;
  font-family: $mainFont;
  font-size: $fsizeContLike;
  font-weight: bold;
  color: $subColor;
}

#contents .cont3 .container .shop1 p {
  color: white;
}

#contents .cont3 .container .shop1 {
  width: 10vw;
  height: 10vw;
  line-height: 10vw;
  border-radius: 100%;
  background: $subColor;
  color: white;
}

#contents .cont3 .container .shop2 {
  align-self: flex-end;
  width: 8vw;
  min-width: 8vh;
  height: 8vw;
  min-height: 8vh;
  border-radius: 100%;
  background: white;
}

#contents .cont3 .container .shop3 {
  align-self: flex-end;
  margin-top: 100px;
  margin-right: 200px;
  width: 10vw;
  min-width: 14vh;
  height: 10vw;
  min-height: 14vh;
  border-radius: 100%;
  background: white;
}

#contents .cont3 .container > div > div:hover {
  transform: scale(1.2);
}

#contents .cont3 .container #cont3_img {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 50vw;
  height: 50vw;
  max-width: 560px;
  max-height: 560px;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 150px;
  border-radius: 100%;
  box-sizing: border-box;
  border: 1vw solid $mainColor;
  transition: 0.4s;
}

#contents .cont3 .container .cont3_img1 {
  background: url(../img/contents/catsnack.jpg);
}

#contents .cont3 .container .cont3_img2 {
  background: url(../img/contents/cat-tower.jpg);
}

#contents .cont3 .container .cont3_img3 {
  background: url(../img/contents/cat-bag.jpg);
}
#contents .cont3 .container .cont3_text > p {
  max-width: 1280px;
  width: 100vw;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 0;
  color: white;
  text-align: center;
  font-size: $fsizeContents;
  opacity: 0;
  transition: 0.4s;
  position: absolute;
}

/*********** CONT4 ***********/
#contents .cont4 .container h3 {
  margin: 0 auto;
  margin-top: 150px;
  display: block;
  width: 650px;
  position: relative;
  text-align: center;
  font-size: 100px;
  color: $mainColor;
}

#contents .cont4 .container h3 img {
  position: absolute;
  top: 25px;
  left: 0;
}

#contents .cont4 .container > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#contents .cont4 .container div > div:nth-child(2) {
  margin: 10%;
}

#contents .cont4 .container div > div > img {
  width: 20vw;
  max-width: 300px;
  margin: 0 auto;
  border-radius: 100%;
  display: block;
  cursor: pointer;
}

#contents .cont4 .container div > div > h5 {
  display: block;
  text-align: center;
  font-size: $fsizeLink;
  cursor: pointer;
}

#contents .cont4 .container div > div {
  transition: 0.4s;
}

#contents .cont4 .container div > div:hover {
  transform: scale(1.1);
}

/*********** footer ***********/
@import "footer";
@import "../layout/responsive";