$F1: 70px;
$F2: 50px;
$F3: 30px;
$F4: 28px;
$F5: 24px;
$F6: 18px;

$mainFont: "나눔스퀘어-extrabold";
$contentsFont: "나눔스퀘어-regular";

$fsizeNav: $F3;
$fsizeBanner: $F1;
$fsizeSubT: $F2;
$fsizeLink: $F4;
$fsizeContLike: $F5;
$fsizeContents: $F6;
